* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #f1faee;
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow-x: hidden;
}

/* -- GOOGLE FONTS -- */

    /* <weight>: Use a value from 400 to 900 */
    .playfair-display-400 {
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    /* <weight>: Use a value from 100 to 900 */
    .raleway-300 {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    }


/* TODO: Add sticky back to top button?, style timeline, wrap list items under themselves, add favicon */

.pink {
    color:#e63946 !important;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 650;
}

header {
    background-color: #0a0a23;
    color: #f1faee;
    border-bottom: 4px solid #e63946;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: #0a0a23;
    color: #f1faee;
    border-top: 4px solid #e63946;
    text-align: center;
}

ul, ol {
    list-style-type: none;
}

footer ul {
    display: flex;
    text-align: left;
    justify-content: center;
}

footer ul li {
    padding: 10px;
}

h1 {
    padding-left: 30px;
    font-size: 4em;
}

#intro {
    text-align: center;
    padding: 20px 40px;
}

h4 {
    padding: 10px 20px 0;
}

#reference {
    padding: 0 20px 30px;
}

/* Navbar */
    nav ul {
        padding-right: 30px;
    }

    nav ul li  {
        text-align: center;
        padding: 3px;
    }

    a {
        text-decoration: none;
        color: #e63946;
    }

    .number-size {
        font-size: 1.15rem;
    }

/* Timeline - w3schools */
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #e63946;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }

/* -- MEDIA QUERIES -- */

/* Medium Screens */
@media (min-width: 768px) {

    nav ul li {
        display: inline;
        padding: 0 6px;
    }

    #intro {
        padding: 30px 60px;
    }

}
  
/* Large Screens */
@media (min-width: 992px) {

    nav ul li {
        padding: 0 30px;
    }

    h1 {
        padding-left: 60px;
    }

    #intro {
        padding: 50px 100px;
    }

    footer ul {
        gap: 20px;
    }

}