*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --pink: #e63946;
    --dark-blue: #0a0a23;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #f1faee;
    font-size: 16px;
}

/* -- GOOGLE FONTS -- */

    /* <weight>: Use a value from 400 to 900 */
    .playfair-display-400 {
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    /* <weight>: Use a value from 100 to 900 */
    .raleway-300 {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    }

/* TODO: Add sticky back to top button? */

.pink {
    color: var(--pink) !important;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 650;
}

header {
    height: 180px;
    background-color: var(--dark-blue);
    color: #f1faee;
    border-bottom: 4px solid var(--pink);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    min-height: 200px;
    background-color: var(--dark-blue);
    color: #f1faee;
    border-top: 4px solid var(--pink);
    text-align: center;
    bottom: 0;
}

ul, ol {
    list-style-type: none;
}

.content p {
    font-family: "Playfair Display", serif;
    font-size: 0.9em;
}

footer ul {
    display: flex;
    text-align: left;
    justify-content: center;
    padding-left: 20px;
}

footer ul li {
    padding: 20px;
}

#intro {
    text-align: center;
    padding: 30px 40px;
    margin: 0 0 30px;
}

h1 {
    padding-left: 30px;
    font-size: 4em;
}

h2 {
    padding: 20px 0;
}

h3 {
    color: var(--pink);
    font-family: "Raleway", serif;
    font-weight: 500;
    padding-bottom: 8px;
}

h4 {
    padding: 30px 20px 20px;
}

#reference {
    padding: 30px;
}

/* -- NAVBAR -- */
    nav ul {
        padding-right: 30px;
    }

    nav ul li  {
        text-align: center;
        padding: 3px;
    }

    a {
        text-decoration: none;
        color: var(--pink);
    }

    .number-size {
        font-size: 1.15rem;
    }

/* -- TIMELINE -- */
    .timeline {
        position: relative;
        max-width: 1200px;
        margin: 0 auto 40px;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline::after {
        content: "";
        position: absolute;
        width: 6px;
        background-color: var(--pink);
        top: 0;
        bottom: 0;
        left: 31px;
        margin-left: -3px;
    }

    /* Container around content */
    .container {
        padding-left: 70px;
        padding-right: 25px;
        position: relative;
        background-color: inherit;
        width: 100%;
        margin: 10px 0;
    }
  
    /* The circles on the timeline */
    .container::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        left: 19px;
        right: 0;
        background-color: white;
        border: 4px solid var(--pink);
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }

    /* TODO: Position arrows on content cards, add box-shadow to cards */
    /* Add arrows pointing leftwards */
    .container::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 60px;
        border: medium solid var(--dark-blue);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--dark-blue) transparent transparent;
    }

/* The actual content */
    .content {
        padding: 20px 30px;
        color: #f1faee;
        background-color: var(--dark-blue);
        position: relative;
        border-radius: 2px 100px 100px 2px;
    }

/* -- MEDIA QUERIES -- */

/* Medium Screens */
@media (min-width: 768px) {

    nav ul li {
        display: inline;
        padding: 0 8px;
        font-weight: 500;
    }

    #intro {
        padding: 30px 60px;
    }

    /* -- TIMELINE -- */
    /* Position ruler to middle of page */
    .timeline::after {
        left: 50%;
      }

    .container {
        width: 50%;
        padding: 10px 40px;
         margin: -40px 0;
    }

    .content {
       
        padding: 20px 40px;
    }

    .content-left {
        border-radius: 100px 2px 2px 100px;
        text-align: right;
    }

    /* TODO: Place circles on timeline */
    .left::after {
        left: 97%;
    }

    /* Place containers to left and right */
    .left {
        left: 0;
    }
  
    .right {
        left: 50%;
    }

    /* TODO: Position arrows on cards */
    /* Arrows to the left container (pointing right) */
    .left::before {
        left: 92%;
        border: medium solid var(--dark-blue);
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent var(--dark-blue);
    }
  
    /* Arrows to the right container (pointing left) */
    .right::before {
        left: 30px;
        border: medium solid var(--dark-blue);
        border-width: 10px 10px 10px 0;
        border-color: transparent var(--dark-blue) transparent transparent;
    }
}
  
/* Large Screens */
@media (min-width: 992px) {

    nav ul li {
        padding: 0 25px;
    }

    h1 {
        padding-left: 60px;
    }

    #intro {
        padding: 50px 100px;
    }

    footer ul {
        gap: 20px;
    }
}